@import url('https://fonts.googleapis.com/css2?family=Montserratwght@400;500;600;700&display=swap');


html, body {
height: 100%
}
body {
font-family: Helvetica Neue, Helvetica, Arial, sans-serif
background: #212121
color: #fff
}
.hero__title {
    font-size: 40px
    font-weight: 100
    padding: 1.5em
    text-align: center
}