@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.action_btn {
    background: #e2e8f0 !important;
    padding: 8px 15px !important;
    color: black !important;
    border: none !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
}

.action_btn:hover {
    background: #e7ecf3 !important;
    transition: .15s;
}

::selection {
    background: #eee;
    color: rgb(106, 106, 106);
    text-decoration: underline dotted;
    text-shadow: 1px 1px 5px slategray;
}

.hero2 {
    background: linear-gradient(rgba(#F9774C, .75), rgba(#802A0C, .85)), url("https://farm3.staticflickr.com/2862/10936924134_24ce77ae37_b.jpg")
    min-height: 100%
    background-size: cover
    background-position: 50% 0
}
